@use "scss/foundation/variables" as v;
@use "scss/foundation/base" as b;
@use "scss/foundation/font" as f;
@use "scss/Animation/Animation.scss" as a;
@use "scss/Animation/TextAnimation.scss" as t;
@use "scss/mixin/breakpoint" as break;
.Header{
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-family: f.$FontFamily;
    &__LogoImage{
        min-width: 0;
        margin: 0 auto 0 40px;
    }
    &__Menu{
        min-width: 0;
        display: flex;
        font-size: f.$BaseTextSize;
        margin-top: 20px;
    }
    &__List{
        margin: 0 10px;
        cursor: pointer;
        list-style-type: none;
    }
    &__Snslink{
        min-width: 0;
        height: 20px;
        font-size: 12px;
        margin-top: 22px;
        margin-right: 126px;
        padding-top: 5px;
        display: flex;
        list-style-type: none;
        align-items: center;
        &__Border{
            cursor: pointer;
            width: 100px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-right: 1px solid v.$Color__Main__Black;
        }
        &--Instagram{
            height: 20px;
            margin-left: 20px;
            display: inline-block;
        }
    }
    .Header__Hambugur{
        width: 40px;
        height: 40px;
    }
}
.swiper-container{
    margin-top: 30px;
    @include break.breakpoint(smartphone){
        display: none;
    }
}
.NEWSCAMPAINconteiner{
    width: 100%;
    margin-top: 290px;
    transition:  a.$FeedAnimation;
    font-family: f.$FontFamily;
    opacity: 0;
    @include break.breakpoint(smartphone){
        margin-top: 70px;
        opacity: 1;
    }
    &__Explanation{
        @include break.breakpoint(smartphone){
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
        }
    }
    &__Headingtext{
        font-size: 5rem;
        font-weight: f.$BaseFontWight;
        margin-left: 18%;
        @include break.breakpoint(smartphone){
            width: 80%;
            font-size: 25px;
        }
    }
    &__Logo{
        width: 282px;
        margin-top: 63px;
        margin-left: 18%;
        @include break.breakpoint(smartphone){
            width: 50%;
            margin-top: 25px;
            margin-left: 0;
            margin-bottom: 25px;
        }
    }
    &__Text{
        display: inline-block;
        font-size: f.$BaseFontsize;
        line-height: f.$Baseline-height;
        font-weight: f.$BaseFontWight;
        padding-top: 12px;
        @include break.breakpoint(smartphone){
            font-size: 11px;
        }
    }
    &__Amendment{
        margin-left: 18%;
        @include break.breakpoint(smartphone){
            width: 80%;
            text-align: center;
            margin-left: 0;
        }
    }
    &__Time{
        display: block;
        margin-top: 10px;
        margin-left: 18%;
        font-size: f.$BaseTextSize;
        font-weight: f.$BaseFontWight;
        @include break.breakpoint(smartphone){
            width: 80%;
            text-align: center;
            margin-left: 0;
            font-size: 11px;
        }
    }
    &__Newline{
        display: inline-block;
    }
     &__Button{
        width: 290px;
        height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        font-family: f.$FontFamily;
        border: v.$BaseBorder;
        font-size: f.$BaseTextSize;
        @include break.breakpoint(smartphone){
            margin-top: 25px;
        }
    }
}
.OURSTORY__Headingtext{
        width: 150px;
        margin-top: 200px;
        margin-left: 18%;
        font-family: f.$FontFamily;
        font-size: f.$BaseHeadingFontSize;
        font-weight: f.$BaseFontWight;
        opacity: 0;
        @include break.breakpoint(smartphone){
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 25px;
        }
}
.OURSTORY__Catchcopy{
    margin-top: 20px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: f.$BaseHeadingFontSize;
    font-family: f.$FontFamily;
    line-height: f.$Baseline-height;
    opacity: 0;
    @include break.breakpoint(smartphone){
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 200px;
        font-size: 25px;
    }
    @include break.breakpoint(tablet){
        font-size: 30px;
    }
    .Catchcopynewline{
        display: block;
        margin-top: 50px;
        @include break.breakpoint(tablet){
            margin-top: 20px;
            font-size: 30px;
        }
        @include break.breakpoint(smartphone){
            margin-top: 30px;
        }
    }
}
.OURSTORYconteiner{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: f.$FontFamily;
    &__Twocontents{
        display: flex;
    }
    &___Rightconteiner{
        width: 100%;
    }
    &__Catchimage{
        filter: drop-shadow(v.$BaseBoxShadow);
        margin-left: v.$TextMargin;
    }
    &__Text{
        padding-top: 20px;
        font-weight: f.$TextFontWight;
        margin-left: v.$TextMargin;
        font-size: f.$BaseFontsize;
    }
    &__Text--Second{
        padding-top: 20px;
        font-weight: f.$TextFontWight;
        margin-left: v.$TextMargin;
        font-size: f.$BaseFontsize;
    }
    &__Logo{
        //width: 500px;
        padding-top: 50%;
    }
    &__Establishedtime{
        text-align: center;
        font-family: f.$FontFamily;
        font-weight: 900;
    }
}
.OURSTORYconteiner__Brandeintroductory{
    width: 100%;
    margin-top: 50px;
    display: flex;
    &__Lefbox{
        text-align: center;
        width: 800px;
        margin-top: 10%;
        margin-left: 10%;
    }
    &__Brandename{
        margin-top: 140px;
        display: block;
        text-align: center;
        font-size: f.$BaseHeadingFontSize;
    }
    &__Text{
        margin-top: 15%;
        text-align: left;
        font-size: f.$BaseFontsize;
        font-weight: f.$TextFontWight;
    }
}
.OURSTORYconteiner__Catchsecondimage{
    filter: drop-shadow(v.$BaseBoxShadow);
    width: 600px;
    height: 100%;
    margin-left: 10%;
}