@use "scss/foundation/variables" as v;
@use "scss/foundation/base" as b;
@use "scss/foundation/font" as f;
@use "scss/Animation/Animation.scss" as a;
@use "scss/Animation/TextAnimation.scss" as t;
.Header{
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-family: f.$FontFamily;
    &__LogoImage{
        min-width: 0;
        margin-right: auto;
        margin-left: 40px;
    }
    &__Menu{
        min-width: 0;
        display: flex;
        font-size: f.$BaseTextSize;
        margin-top: 20px;
    }
    &__List{
        margin: 0 10px;
        cursor: pointer;
        list-style-type: none;
    }
    &__Snslink{
        min-width: 0;
        height: 20px;
        font-size: 12px;
        margin-top: 22px;
        margin-right: 126px;
        padding-top: 5px;
        display: flex;
        list-style-type: none;
        align-items: center;
        &__Border{
            cursor: pointer;
            width: 100px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-right: 1px solid v.$Color__Main__Black;
        }
        &--Instagram{
            height: 20px;
            margin-left: 20px;
            display: inline-block;
        }
    }
}
.swiper-container{
    margin-top: 30px;
}
.NEWSCAMPAINconteiner{
    margin-top: 290px;
    margin-left: v.$BaseHeaddingMargin;
    transition:  a.$FeedAnimation;
    font-family: f.$FontFamily;
    opacity: 0;
    &__Headingtext{
        font-size: f.$BaseHeadingFontSize;
        font-weight: f.$BaseFontWight;
    }
    &__Logo{
        margin-top: 63px;
        margin-left: 4%;
    }
    &__Text{
        display: inline-block;
        line-height: f.$Baseline-height;
        font-weight: f.$BaseFontWight;
    }
    &__Time{
        display: block;
        margin-top: 10px;
        font-size: f.$BaseTextSize;
        font-weight: f.$BaseFontWight;
    }
    &__Button{
        width: 290px;
        height: 70px;
        margin-top: 120px;
        margin-left: 30.5%;
        font-family: f.$FontFamily;
        border: v.$BaseBorder;
        font-size: f.$BaseTextSize;
    }
}
.OURSTORY__Headingtext{
        margin-top: 200px;
        font-family: f.$FontFamily;
        margin-left: v.$BaseHeaddingMargin;
        font-size: f.$BaseHeadingFontSize;
        font-weight: f.$BaseFontWight;
        opacity: 0;
}
.OURSTORYconteiner{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: f.$FontFamily;
    &__Catchcopy{
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 50%;
        font-size: f.$BaseHeadingFontSize;
        display: inline-block;
        line-height: f.$Baseline-height;
        opacity: 0;
    }
    &__Twocontents{
        display: flex;
    }
    &___Rightconteiner{
        width: 100%;
    }
    &__Catchimage{
        filter: drop-shadow(v.$BaseBoxShadow);
        margin-left: v.$TextMargin;
    }
    &__Text{
        padding-top: 20px;
        font-weight: f.$TextFontWight;
        margin-left: v.$TextMargin;
        font-size: f.$BaseFontsize;
    }
    &__Text--Second{
        padding-top: 20px;
        font-weight: f.$TextFontWight;
        margin-left: v.$TextMargin;
        font-size: f.$BaseFontsize;
    }
    &__Logo{
        width: 500px;
        padding-top: 50%;
    }
    &__Establishedtime{
        text-align: center;
        font-family: f.$FontFamily;
        font-weight: 900;
    }
}
.OURSTORYconteiner__Brandeintroductory{
    width: 100%;
    margin-top: 50px;
    display: flex;
    &__Lefbox{
        text-align: center;
        width: 800px;
        margin-top: 10%;
        margin-left: 10%;
    }
    &__Brandename{
        margin-top: 140px;
        display: block;
        text-align: center;
        font-size: f.$BaseHeadingFontSize;
    }
    &__Text{
        margin-top: 15%;
        text-align: left;
        font-size: f.$BaseFontsize;
        font-weight: f.$TextFontWight;
    }
}
.OURSTORYconteiner__Catchsecondimage{
    filter: drop-shadow(v.$BaseBoxShadow);
    width: 600px;
    height: 100%;
    margin-left: 10%;
}