@use "variables" as v;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    a:active{
        color: black;
    }
    a:focus{
        outline: none;
    }
}
body{
    width: 100%;
}
.Header{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Merriweather', serif;
    &__LogoImage{
        margin-right: auto;
        margin-left: 40px;
    }
    &__Menu{
        width: 500px;
        display: flex;
        font-size: 17px;
        margin-left: 600px;
        margin-right: 69.5px;
        margin-top: 20px;
    }
    &__List{
        margin: 0 10px;
        cursor: pointer;
        list-style-type: none;
    }
    &__Snslink{
        width: 200px;
        height: 20px;
        font-size: 12px;
        margin-top: 22px;
        margin-right: 126px;
        display: flex;
        list-style-type: none;
        align-items: center;
        &__Border{
            cursor: pointer;
            width: 100px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-right: 1px solid v.$Color__Main__Black;
        }
        &--Instagram{
            height: 20px;
            margin-left: 20px;
            display: inline-block;
        }
    }
}
.BigSliderconteiner{
    .BigSliderconteiner__Maingraphic{
        padding-top: 25px;
        .Maingraphic__SliderImages{
            width: 100%;
        }
    }
}